.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(var(--vh, 1vh) * 100);
  flex-direction: column;
  padding: 5rem 0;
  box-sizing: border-box;
}

.questionsContainer {
  min-height: calc(var(--vh, 1vh) * 100 - 13.3rem);
}

.buttonsContainer button:first-child {
  margin-right: 1rem;
}

.addQuestionBtn {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
  width: 142px;
  white-space: nowrap;
  height: 3.3rem;
}

.addQuestionBtn:hover {
  background-color: #fff;
  color: #282c34;
}

.addQuestionBtn:active {
  background-color: transparent;
  color: #fff;
}

.addQuestionBtn:disabled {
  background-color: rgba(255, 255, 255, 0.137);
  color: #282c34;
  border-color: #282c34;
  cursor: not-allowed;
}
