.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.addQuestionBtn {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 1rem;
  border-radius: 7px;
  cursor: pointer;
}

.addQuestionBtn:hover {
  background-color: #fff;
  color: #282c34;
}

.addQuestionBtn:active {
  background-color: transparent;
  color: #fff;
}
